langchain
langchain_community
langchain_chroma
langchain_core
langchain_classic
langchain_text_splitters
streamlit
langchain_huggingface
sentence-transformers
pandas
python-docx
pymupdf
langchain-groq
dotenv
openpyxl
pysqlite3-binary
ruff
mypy