langchain
langchain_community
langchain_chroma
langchain_core
langchain_classic
langchain_text_splitters
fastapi
uvicorn
python-multipart
ruff
bandit
langchain
sentence-transformers
pandas
python-docx
pymupdf
langchain-groq
python-dotenv
openpyxl
chromadb
pysqlite3-binary
mypy
fastapi
uvicorn
python-multipart